* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.title {
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}

span {
  font-weight: 900;
  text-decoration-line: underline;
  text-decoration-style: double;
  color: rgba(219, 57, 57, 1);
}

/*Main frame of the calculator object*/
#calculator-frame {
  width: 300px;
  height: 550px;
  background-color: aquamarine;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}

/*Entire display part with black background*/
#display {
  background-color: black;
  color: white;
  padding-right: 10px;
  border-radius: 18px 18px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

/*Inner part of display consisting of two blocks, upper and lower row*/
#upper-number,
#lower-number {
  height: 40px;
  text-align: end;
  line-height: 40px;
  margin-bottom: 20px;
}

#upper-number {
  font-size: 32px;
}

#lower-number {
  font-size: 50px;
  font-weight: bold;
}

/*Entire keyboard section*/
#keyboard {
  height: 65%;
  font-size: 20px;
  border: 1px solid grey;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 0 0 18px 18px;
  justify-content: space-around;
}


.keys {
  font-size: 25px;
  width: 60px;
  line-height: 50px;
  flex-grow: 1;
  background-color: whitesmoke;;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}

.keys:active {
  color: gray;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

.operator {
  background-color: rgba(71, 200, 219, 0.5);
}

.num {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.1);
}

#equals {
  background-color: rgba(175, 250, 178, 0.5);
  border-radius:0 0 17px 0;
  font-size: 50px;
}

#clear {
  background-color: rgba(219, 57, 57, 0.5);
  border-radius: 0 0 0 17px;
  font-size: 50px;
}

/*Footer section with links*/
.footer {
  width: 750px;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  font-size: 10px;
  padding: 10px;
}
